@{
    ViewBag.Title = "About";
}

<h1 class="text-center text-primary"><strong>@ViewBag.Message</strong></h1>

<div class="row">
    <div class="col-md-4 text-center p">
        <h2>About us:</h2>
    </div>
    <div class="col-md-8">
        
        <h3>
            Legal Heroes Limited is one of the most established law firms in Auckland, having been founded in
            2001. Our firm has always operated with a client-first approach. This means we prioritise positive client
            outcomes over generating legal fees or billable hours.
        </h3>
        <p>
            We are real people, completely committed to providing our clients with accurate, practical and, most
            importantly, realistic advice. We are known for our depth of legal – and life –experience, our professionalism,
            and our refreshing approach.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h2>KEVIN MCDONALD<br>Principal</h2>
        <p>
            Kevin founded Kevin McDonald & Associates over 25 years ago. As a true general
            practitioner, Kevin’s broad scope of expertise includes civil litigation, criminal proceedings, commercial
            and business law, property and conveyancing, wills, trusts, estates and powers of attorney, and many things
            in between.
        </p>
    </div>
    <div class="col-md-4"><img src="https://www.kevinmcdonald.co.nz/uploads/images/team/kevin.jpg" class="img-responsive" alt="Responsive image"></div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="https://www.kevinmcdonald.co.nz/uploads/images/team/Brittanny-Newman.jpg" class="img-responsive" alt="Responsive image">
    </div>
    <div class="col-md-8">
        <h2>BRITTANY NEWMAN<br>Lawyer</h2>
        <p>
            Brittany joined the team at Kevin McDonald and Associates as a lawyer in late
            2019. Her areas of work include all aspects of general practise work, including property law, commercial,
            trusts, wills and power of attorneys. Previously, she worked at a
            boutique law firm on the Hibiscus Coast.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h2>CHRISTINE WOOD<br>Manager</h2>
        <p>
            Christine is our Office Manager and Trust Accountant. Outside of work, Christine enjoys
            getting, well, outside! She keeps busy with cycling, gardening, boating, fishing and travelling.
        </p>
    </div>
    <div class="col-md-4"><img src="https://www.kevinmcdonald.co.nz/uploads/images/team/christine.jpg" class="img-responsive" alt="Responsive image"></div>
</div>
