@{
    ViewBag.Title = "Home Page";
}
<img src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/02/best-website-architecture-elements-for-law-firms-5ea14dfac2ab9-1280x720.png" class="img-responsive" alt="Responsive image">
<div class="carousel-caption" style="top: 10%; left:-7%">
    <h1 class="text-primary">Solid, down-to-earth legal advice</h1>
    <h3 class="text-primary">Reasons for Choosing US</h3>
    <p class="text-primary">
        Whatever your legal needs, our talented and friendly team can provide a comprehensive range<br> of services to
        suit.

        We will protect your interests in a practical, personal and cost-effective way.
    </p>
    <br>
    <p><a class="btn btn-default btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>
<div class="jumbotron">
    
    <h1>Legal Heroes Limited</h1>
    <p class="lead">
        Legal Heroes Limited offers legal services in many areas of law. From business and commercial law to property,
        conveyancing and family law, trusts, immigration, litigation, and notary services plus many more.   Lawyers at Legal Heroes Limited have
        the experience and expertise to help with your many legal needs.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

