@{
    ViewBag.Title = "Services";
}

<h1 class="text-center text-primary"><strong>@ViewBag.Message</strong></h1>

<div class="row">
    <div class="col-md-4">
        <img src="https://wollongonglegal.com.au/wp-content/uploads/2017/09/property-law-1.jpg" class="img-responsive" alt="Responsive image">
        <h2>Property law</h2>
        <p>
            We will carefully guide you through the process and provide effective advice, ensuring you understand what
            is happening each step of the way.
            Our specialists have extensive experience across all areas of property law. We can assist with sales,
            purchases, financing, ownership structures, subdivisions, building contracts, claims and property sharing
            agreements.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">       
        <img src="https://notarypublic.org.nz/wp-content/uploads/2018/07/home1.jpg" class="img-responsive" alt="Responsive image">
        <h2>Commercial law</h2>
        <p>
            Our commercial lawyers possess the knowledge and expertise to advise and assist you with the sale and
            purchase of businesses and related assets, structures and restructuring, partnerships, franchising, leasing,
            financing, intellectual property protection, corporate compliance and all forms of commercial contracts.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="https://media.istockphoto.com/photos/judge-gavel-on-the-desk-family-law-picture-id1187554733?k=20&m=1187554733&s=612x612&w=0&h=NIQ2R3YhKodTtee8Aprf5TlEsYRcCB6NlxWZtOqCu58=" class="img-responsive" alt="Responsive image">
        <h2>Family law</h2>
        <p>
            Whether you are hoping to safeguard against a future relationship dispute or find yourself in the midst of a
            dispute right now, our knowledgeable team of family lawyers can help. We have experience across all areas of family law, including contracting out agreements (also known as
            ‘prenups’), separations, dissolution of marriage, care of children, guardianship and estate litigation.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://www.allengabelaw.com/wp-content/uploads/2019/06/Fotolia_174937057_Subscription_Monthly_M-1140x760.jpg" class="img-responsive" alt="Responsive image">
        <h2>Litigation</h2>
        <p>
            A Our experienced litigation team is available to help you resolve your legal issues in or out of court.
            Our litigators can represent you in all manner of disputes, whether that be at mediation, arbitration, in
            court or otherwise. We are experienced in handling a wide range of issues, including civil, commercial and employment disputes.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="https://businesspartnermagazine.com/wp-content/uploads/2019/12/What-is-Commercial-Law.jpg" class="img-responsive" alt="Responsive image">
        <h2>Notary public</h2>
        <p>
            A notary public witnesses signatures on legal documents, takes sworn documents, administers oaths and
            certifies the authenticity of legal documents for use overseas. A notary public must have practised law for
            more than ten years and owned or been a partner of a law firm for over seven years.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">        
        <img src="https://media.istockphoto.com/photos/-picture-id1150477605?k=20&m=1150477605&s=612x612&w=0&h=vuRRDUNzBCliEn6w02Afak79G_UOlR--NQCDpSS35lU=" class="img-responsive" alt="Responsive image">        
        <h2>Employment law</h2>
        <p>We help both employees and employers resolve employment problems. This is achieved either directly
        or via the other side's employment lawyer or advocate, the Ministry of Business Innovation & Employment,
        the Employment Relations Authority or the Employment Court.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


    


